{% load static%}
<link rel="stylesheet" href="{% static '../static/main/css/global.css' %}" />
<link rel="stylesheet" href="{% static '../static/main/css/Contact.css' %}" />
<form class="contact-form needs-validation" novalidate id='contact' method="post" >

    <h1 class='contact-input-f'>Contact Us</h1>

    <div class='contact-input'>
        <label htmlFor="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="John Doe" required>     
    </div>
    <div class='contact-input'>
        <label htmlFor="email">Email</label>
        <input type="email" class="form-control" type="email" id="email" name="email" placeholder="youremail@mail.com" required>     
    </div>
    <div class='contact-input'>
        <label htmlFor="message">Message</label>
        <input type="text"class="form-control" id="message" name="message" placeholder="Message" required>       
    </div>
    <button type="submit">Send</button>
</form>