{% load static%}
<link rel="stylesheet" href="{% static '../static/ratings/css/global.css' %}" />
<link rel="stylesheet" href="{% static '../static/ratings/css/Hero.css' %}" />
<section class="hero-container">
    <div class='hero-banner'>
        <div class='content-box'>
            <p class='main-message'>If you travel to Atlanta for pleasure or business, FiveStar Car service helps you
                move around the City comfortably and safely 24 hours a day.</p>
            <h1 class='just-time'>Just in time with&nbsp;<span> FiveStars.</span>
        </div>
        <img src='../static/ratings/img/images/white-corolla.png' alt="corolla" id="white-corolla" />
    </div>
    <div class='main-form' id='booking'>
        <h1 class='title'>Quote your trip and book with us, to live the <span> best experience.</span>Just in time with
            <span>FiveStars.</span>
        </h1>
        <form class="p-4 p-md-5 border rounded-3 needs-validation" novalidate id='form'>
            <div class="row" id='double-input'>
                <div class="col input-btn-padding-x mb-3" id='input-form'>
                    <img src="../static/ratings/img/icons/point.svg" class="icon" alt="Pick Up" />
                    <input type="text" class="form-control" id="floatingInput" placeholder="Address Airport" required/>
                </div>
                <div class="col input-btn-padding-x mb-3" id='input-form'>
                    <img src="../static/ratings/img/icons/point.svg" class="icon" alt="Drop Off" />
                    <input type="text" class="form-control" id="floatingInput" placeholder="Your Location" required/>
                </div>
            </div>
            <div class="row" id="double-input">
                <div class="col input-btn-padding-x mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Full Name" required/>
                </div>
                <div class="col input-btn-padding-x mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="youremail@example.com"required />
                </div>
            </div>
            <div class="row" id="double-input">
                <div class="col input-btn-padding-x mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Fight" required/>
                </div>
                <div class="col input-btn-padding-x mb-3">
                    <div id="passengers-list">
                        <select type="text" class="form-select" id="floatingInput" placeholder="passengers" required>
                            <option selected disabled value="">Passengers</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                </div>
                <div class="col input-btn-padding-x mb-3">
                    <input type="date" class="form-control" id="floatingInput" placeholder="Date" required/>
                </div>
            </div>
            <div class="row" id="double-input">
                <div class="col input-btn-padding-x mb-3">
                    <input type="time" class="form-control" id="floatingInput" placeholder="hour" required/>
                </div>
                <div class="col input-btn-padding-x mb-3">
                    <select class="form-select" placeholder="payment method" required>
                        <option selected disabled value="">Payment Method</option>
                        <option value="cash">Cash</option>
                        <option value="paypal">Paypal</option>
                    </select>
                </div>
            </div>
            <div class="row input-btn-padding-x mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="observations" required/>
            </div>
            <div class="row input-btn-padding-x mb-3">
                <select class="form-select" placeholder="type of travel" required>
                    <option selected disabled value="">Type of Travel</option>
                    <option value="hourly">Hourly</option>
                    <option value="way">On the way</option>
                </select>
            </div>
            <button id="button" class="w-100 btn btn-lg btn-primary" type="submit">Book your Trip</button>
            <hr class="my-4" />
            <small class="text-muted">By clicking Your Booking, you agree to the terms of use.</small>
        </form>
    </div>
</section>