{% load static%}
<link rel="stylesheet" href="{% static '../static/ratings/css/global.css' %}" />
<link rel="stylesheet" href="{% static '../static/ratings/css/Services.css' %}" />
<section class='service-main' id='services'>
    <h1 class="services">Services</h1>
    <div class="service-list" >
        <div class="card" >
            <div class="card-body" id="service">
            <img src='../static/ratings/img/icons/car.png'  id="image-service" alt="car" />
              <h2 class="card-title" id="service-title">Card title</h2>
              <p class="card-text" id="p-service">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
            <img src='../static/ratings/img/icons/car.png'  id="image-service" alt="car" />
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" >
            <div class="card-body">
            <img src='../static/ratings/img/icons/car.png'  id="image-service" alt="car" />
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" >
            <div class="card-body">
            <img src='../static/ratings/img/icons/car.png'  id="image-service" alt="car" />
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
</section>